---
import subscribeImage from '@/assets/subscribeImage.png'
import Button from '@/components/ui/buttons/Button.astro'
import SubmitButton from '@/components/ui/buttons/SubmitButton.astro'
---

<section class="container mx-auto max-w-7xl mt-20 mb-20 px-4">
    <h2 class="text-3xl md:text-4xl font-bold text-gray-secondary text-center mb-8">
        Suscríbete a mi blog para estar al tanto de las últimas novedades
    </h2>
    
   <div class="grid grid-cols-1 md:grid-cols-3 gap-4 bg-white items-center rounded-xl overflow-hidden">
    <div class="col-span-2">
         <form class="mx-4 md:mx-6 my-8 md:my-12">
        <div class="relative flex flex-col sm:flex-row items-stretch sm:items-center gap-3 sm:gap-0 bg-gray-100 rounded-md md:rounded-full px-4 sm:px-6 py-3 sm:py-4 shadow-sm">
            <input 
                type="email" 
                placeholder="correo@dominio.com" 
                class="flex-1 bg-transparent outline-none text-gray-700 placeholder-gray-500 text-base sm:text-lg sm:pr-4"
                required
            />
            <SubmitButton text="Suscribirme" variant="primary"/>
        </div>
        <p class="text-gray-500 mt-4 text-sm sm:text-base">Varias veces al mes. Sin spam. Puedes darte de baja en cualquier momento.</p>
    </form>
    </div>
    <div class="col-span-1 relative md:rounded-r-xl overflow-hidden min-h-[300px] md:min-h-0">
        <img src={subscribeImage.src} alt="" class="w-full h-full object-cover"/>
        
        <div class="absolute inset-0 flex flex-col items-center justify-center p-4 sm:p-6 md:p-8 gap-4 sm:gap-6 md:gap-8">
            <div class="bg-black/50 backdrop-blur-sm rounded-2xl sm:rounded-3xl border-2 border-secondary-light p-3 sm:p-4 max-w-lg w-full shadow-[0_0_10px_0] shadow-secondary-light">
                <blockquote class="text-white text-xs sm:text-sm md:text-lg italic text-center mb-2 sm:mb-4">
                    "No hay ley escrita, por pura y clara que sea, que el ingenio y la malicia no oscurezcan."
                </blockquote>
                <p class="text-white text-[10px] sm:text-xs md:text-sm text-center font-medium">— John Dryden</p>
            </div>
            
            <Button href="/blog" text="Ver más publicaciones" variant="primaryShine" />
        </div>
    </div>
   </div>
</section>