---
import SubmitButton from "@/components/ui/buttons/SubmitButton.astro";
import DropdownIcon from "@/components/ui/icons/dropdownIcon.astro";
---

<form action="" class="space-y-4">

    <div class="flex flex-col gap-2">
        <label class="font-semibold text-[#515B54]" for="name">Nombre completo</label>
        <input class="rounded-md bg-white px-4 py-2 placeholder:text-gray-400/50" type="text" name="name" placeholder="Nombre" />
    </div>
    <div class="flex flex-col gap-2">
        <label class="font-semibold text-[#515B54]" for="email">Correo electrónico</label>
        <input class="rounded-md bg-white px-4 py-2 placeholder:text-gray-400/50" type="email" name="email" placeholder="Email" />
    </div>
    <div class="flex flex-col gap-2">
        <label class="font-semibold text-[#515B54]" for="phone">Teléfono</label>
        <input class="rounded-md bg-white px-4 py-2 placeholder:text-gray-400/50" type="text" name="phone" placeholder="Telefono" />
    </div>
    <div class="flex flex-col gap-2">
        <label class="font-semibold text-[#515B54]" for="preferred_contact">Medio preferido de contacto</label>
        <div class="relative">
            <select name="preferred_contact" id="preferred_contact" class="rounded-md bg-white px-4 py-2 pr-10 appearance-none w-full cursor-pointer text-gray-400/50">
                <option value="" disabled selected class="text-gray-400/50">Selecciona una opción</option>
                <option value="email">Correo electrónico</option>
                <option value="phone">Teléfono</option>
                
            </select>
            <DropdownIcon/>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <label class="font-semibold text-[#515B54]" for="message">Mensaje</label>
        <textarea class="rounded-md bg-white px-4 py-2 placeholder:text-gray-400/50 h-32" name="message" placeholder="Mensaje"></textarea>
    </div>

    <SubmitButton text="Enviar mensaje" icon={true} variant="secondary"/>
</form>