---
import Button from '@/components/ui/buttons/Button.astro';

interface Props {
    variant?: 'primary' | 'secondary' | 'white' | 'white-secondary';
    variant2?: 'primary' | 'secondary' | 'white' | 'white-secondary';
    text?: string;
    text2?: string;
}

const { variant = 'primary', variant2 = 'secondary', text = 'AGENDAR UNA REUNION', text2 = 'MIRA MI HOJA DE VIDA' } = Astro.props;

---

<div class="flex flex-col sm:flex-row items-stretch sm:items-center gap-3 sm:gap-4">
    <Button href="/contact" text={text} variant={variant} />
    <Button href="/contact" text={text2} variant={variant2} />
</div>