---
import ServicesList from './ServicesList.astro';
import AccordionActions from './AccordionActions.astro';

interface Props {
    description: string;
    services?: string[];
    index: number;
}

const { description, services, index } = Astro.props;
---

<div 
    id={`accordion-content-${index}`}
    class="accordion-content overflow-hidden max-h-0 transition-all duration-300 ease-in-out"
    aria-hidden="true"
>
    <div class="accordion-content-inner bg-primary rounded-b-lg p-4 md:p-8 mb-4 md:mb-6 col-span-2">
        <div class="h-px bg-secondary-light mb-4 md:mb-6"/>
        
        {services && (
            <>
                <ServicesList services={services} />
                <AccordionActions />
            </>
        )}
    </div>
</div>
