---
import AdminLayout from "@/layouts/AdminLayout.astro";
import { CreatePostForm } from "@/components/admin/posts/CreatePostForm";
import { PageTitle } from "@/components/admin/posts/PageTitle";
---

<AdminLayout>
    <section
        class="container mx-auto max-w-12xl bg-[#FFF]/5 backdrop-blur-xl rounded-xl p-4 mt-20"
    >
        <a
            href="/admin"
            class="text-primary font-medium flex items-center mb-8 bg-secondary-light px-4 py-2 rounded-full w-fit hover:bg-secondary-light/80 transition"
        >
            <svg
                class="w-4 h-4 mr-2"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 19l-7-7 7-7"></path>
            </svg>
            Volver
        </a>
        <PageTitle client:load />
        <CreatePostForm client:load />
    </section>
</AdminLayout>
