---
import "../styles/global.css";
import Header from "../components/web/layout/Header.astro";
import Footer from "../components/web/layout/Footer.astro";
import ClientRouter from "astro/components/ClientRouter.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog CMS</title>
		<ClientRouter />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-primary);
	}

	@font-face {
		font-family: alexandria;
		src:
			url("/alexandria.woff2") format("woff2"),
			url("/alexandria.woff") format("woff");
		font-display: swap;
	}
</style>
