---
import footerPattern from '@/assets/footerpattern.svg'
import FooterContact from '@/components/ui/footerComponents/FooterContact.astro'
import FooterLinks from '@/components/ui/footerComponents/FooterLinks.astro'

const practiceAreasLinks = [
    { text: 'Derecho administrativo', href: '#' },
    { text: 'Derecho corporativo', href: '#' },
    { text: 'Contratación pública', href: '#' },
    { text: 'Procesos tributarios', href: '#' },
    { text: 'Regímenes especiales', href: '#' },
    { text: 'Compliance and risk', href: '#' },
]

const aboutLinks = [
    { text: 'Biografía', href: '#' },
    { text: 'Colegiatura y credenciales', href: '#' },
    { text: 'Reconocimientos', href: '#' },
    { text: 'Testimonios', href: '#' },
]

const blogLinks = [
    { text: 'Artículos', href: '#' },
    { text: 'Noticias', href: '#' },
    { text: 'Opinión', href: '#' },
    { text: 'Reseñas', href: '#' },
    { text: 'Guías legales', href: '#' },
]
---

<footer class="my-20 px-4 bg-secondary text-primary">
    <div class="flex flex-col items-center justify-between md:flex-row gap-4 py-8 container mx-auto max-w-7xl">
        <div>
            <h3>Randall Solano fallas(logo)</h3>
            <p>Su socio estratégico en decisiones legales</p>
        </div>
        <div class="">
            <img src={footerPattern.src} alt="" class=""/>
        </div>
    </div>
    <div class="h-px w-full bg-secondary-light"></div>
    
    <div class="container mx-auto max-w-7xl py-12">
        <div class="grid grid-cols-1 md:grid-cols-5 space-y-8 md:space-y-0 gap-2">
            <FooterContact />
            <FooterLinks title="Áreas de práctica" links={practiceAreasLinks} className="md:col-start-3" />
            <FooterLinks title="Sobre mí" links={aboutLinks} />
            <FooterLinks title="Blog" links={blogLinks} />
        </div>
    </div>

</footer>