---
export interface Links {
    href: string;
    label: string;
}

interface Props {
    links?: Links[];
}

const links = [
    {
        href: "/",
        label: "Inicio",
    },
    {
        href: "/areas-de-practica",
        label: "Áreas de práctica",
    },
    {
        href: "/sobre-mi",
        label: "Sobre mí",
    },
    {
        href: "/blog",
        label: "Blog",
    },
];

const currentPath = Astro.url.pathname;
---

<nav>
    <div class="text-sm lg:text-base xl:text-lg flex gap-4 lg:gap-6 xl:gap-8 text-secondary font-semibold">
        {links.map((link) => {
            const isActive = currentPath === link.href;
            return (
                <a 
                    href={link.href}
                    class={`relative whitespace-nowrap after:absolute after:bottom-0 after:left-0 after:h-[2px] after:bg-secondary-light after:transition-all after:duration-300 ${isActive ? 'after:w-full' : 'after:w-0 hover:after:w-full'}`}
                >
                    {link.label}
                </a>
            );
        })}
    </div>
</nav>
