---
import { practiceAreas } from "@/lib/practiceAreas";
---


<section class="container mx-auto max-w-7xl mt-18 md:px-0 px-4">
    <h2 class="text-4xl font-bold text-gray-secondary whitespace-nowrap flex justify-center my-20">Áreas de Práctica</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-6 text-primary">
        {practiceAreas.map((practiceArea) => (
            <a href={`/areas-de-practica/#${practiceArea.id}`}>
            <div class="practice-area-card flex flex-col items-center justify-center gap-4 bg-secondary p-6 rounded-xl border-2 border-secondary-light hover:bg-primary hover:text-secondary transition-all duration-400 hover:cursor-pointer h-full">
                <div class="flex items-center justify-center p-4 rounded-full border-2 border-secondary-light">

                    <img src={practiceArea.img} alt="" class="icon-img transition-all duration-400"/>
                
                </div>
                <h2 class="text-xl font-bold">{practiceArea.title}</h2>
                <p class="text-pretty">{practiceArea.description}</p>
            </div>
            </a>
        ))}
    </div>
</section>

<style>
    /* Icon hover effect */
    .practice-area-card:hover .icon-img {
        filter: brightness(0) saturate(100%) invert(8%) sepia(15%) saturate(2487%) hue-rotate(185deg) brightness(95%) contrast(95%);
    }
</style>